/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;800;&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overscroll-behavior: none;
}

body {
  line-height: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.5px;
  scroll-behavior: smooth;
}

html,
body {
  scroll-snap-type: y mandatory;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.strong {
  font-weight: 800;
}

#webgi-canvas {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  touch-action: none;
  pointer-events: none;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
}

/* LOADER */
.loader {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #e1dedf;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  font-size: 12px;
}

.progress {
  position: absolute;
  top: 60%;
  width: 50%;
  height: 1px;
  background: #c42323;
  transform: scaleX(0);
  transition: transform 1s;
  transform-origin: left;
  z-index: 10;
  margin: 0 5%;
}

/* HEADER SECTION */
.header {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header--container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  opacity: 0;
}

.header--brand {
  width: 140px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header--menu {
  display: inline-flex;
  gap: 1em;
  align-items: center;
}

.header--menu li {
  padding: 10px 30px;
  color: black;
  transition: all 0.6s ease-in-out;
  border-radius: 50px;
  pointer-events: all;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header--menu li:hover {
  padding: 10px 30px;
  background: black;
  color: white;
  cursor: pointer;
}

/* SECTION */
.section {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  scroll-snap-align: start;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section--container-horizontal {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 25%;
  padding: 50px 0px 0px 10px;
  background: #fff;
  text-align: left;
}

.section--container-vertical {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
  background: #fff;
  text-align: left;
}

.section--content-title {
  font-size: 24px;
  font-weight: 100;
}

.section--content-sub-title {
  font-size: 38px;
  margin: 10px 0 28px 0;
}

.section--content-text {
  margin-bottom: 10px;
}

/* HERO SECTION */
.hero--container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  padding: 10vh 0;
}

.hero--content {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero--content-title {
  text-align: center;
  font-weight: 400;
  font-size: 42px;
}

.spec-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.spec-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1em;
}

.spec-item-child:first-of-type {
  margin-bottom: 1em;
  font-weight: 800;
}
